@model List<Model.Paciente>

@{
    ViewBag.Title = "Paciente";
}



<div class="panel panel-primary">
    <div class="panel-heading">Lista de Pacientes  <a  class="btn btn-primary"  style="text-align:right; padding-right:6px; float: right; position: relative; top:-7px" href="~/home/crud">Nuevo registro <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></div>
    <div class="panel-body">
        <table id="listar" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:150px;">Rut</th>
                    <th style="width:200px;">Nombres</th>
                    <th style="width:200px;">Apellidos</th>
                    <th style="width:200px;">Edad</th>
                    <th style="width:200px;">Peso (Kg)</th>
                    <th style="width:200px;">Acciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var a in Model)
            {
                    <tr>
                        <td>@a.Rut</td>
                        <td>@a.Nombre</td>
                        <td>@a.Apellido</td>
                        <td>@a.Edad</td>
                        <td>@a.Peso</td>
                        <td class="text-right">
                            <a class="btn btn-default btn-success" href="~/home/ver/@a.id" title="Visualizar">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </a>
                            <a class="btn btn-default" href="~/home/crud/@a.id" title="Editar">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>

                            <a class="btn btn-default btn-danger" onclick="eliminarPaciente(@a.id)" title="Remover">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>

                }


            </tbody>

        </table>
    </div>
</div>



<script src="http://tristanedwards.me/u/SweetAlert//lib/sweet-alert.js"></script>
<link rel="stylesheet" type="text/css" href="http://tristanedwards.me/u/SweetAlert//lib/sweet-alert.css">
<link href="~/Content/Bootstrap.min.css" rel="stylesheet" />



<script type="text/javascript">
function eliminarPaciente(id)
{
    swal({
        title: "Estas seguro?",
        text: "los datos de este usuario serán eliminados ",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        cancelButtonText: "No, cancelar",
        confirmButtonText: "Si, eliminar paciente",
        closeOnConfirm: false
    },
function () {
     window.location.href = '/Home/Eliminar/' + id;
     swal("Paciente Eliminado!", "El paciente ha sido eliminado exitosamente", "success");
});
}

 </script>


@section scripts
 {
     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/datatables")

<script type="text/javascript">
         $(document).ready(function () {
             $('#listar').DataTable({
                 "paging": true,
                 "recordsFiltered": 10,
                 "lengthChange": false,
                 "searching": true,
                 "ordering": true,
                 "info": true,
                 "autoWidth": false
             });
         });
     </script>
 }
