<!DOCTYPE html>
<html lang="es">
<head>
    <title>@ViewBag.Title | Antiaging Chile</title>
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="~/Assets/js/jquery.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")




</head>
<body>



    <div class="container">
        <div class="page-header">
            <a class="page-header" href="/Home/Index"><img src="~/imag/Banner2.png" class="img-responsive" /></a>
        </div>

        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </div>
        <footer>
            <div class="text-center">
                <hr />
                <div class="well well-sm">
                    ® Todos los derechos reservados a Yagoda Group Developments.
                </div>
            </div>
        </footer>
    </div>

    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Assets/js/jquery.form.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
