@model Model.Alumno
@{
    ViewBag.Title = Model.Nombre + " " + Model.Apellido;
}

<ol class="breadcrumb">
    <li><a href="~/Home">Home</a></li>
    <li class="active">@(Model.Nombre + " " + Model.Apellido)</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">Información Personal</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>RUT</dt>
            <dd>@Model.Rut</dd>
            <dt>Nombre</dt>
            <dd>@Model.Nombre</dd>
            <dt>Apellido</dt>
            <dd>@Model.Apellido</dd>
            <dt>Edad</dt>
            <dd>@Model.Edad</dd>
            <dt>Peso</dt>
            <dd>@Model.Peso</dd>

        </dl>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Exámenes </div>
    <div class="panel-body">
        <ul class="list-group">
            @foreach (var c in Model.Curso)
            {
                <li class="list-group-item">
                    @c.Nombre
                </li>
            }
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Opciones </div>
    <div class="panel-body">
        <a class="btn btn-default" href="~/home/Exportar/@Model.id" title="Editar">
            <i class="glyphicon glyphicon-list"></i>
        </a>
    </div>
</div>

